{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}举报回答{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
{% endblock %}

<div class="main">
    {% block main %}
        <h3 class="page-title">举报回答</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-group">
                    <p>您要举报用户:{{ answer.answertor.username }}
                        博客标题:{{ answer.question.title }}
                        评论内容：{{ answer.content }}
                    </p>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="7" placeholder="请输入举报原因（越详细越好）" name="content"></textarea>
                </div>
                <div class="form_button">
                    <button type="submit" class="btn btn-primary">举报</button>
                </div>
            </div>
        </form>
        <style>
            .form-container {
                width: 800px;
                margin: 0 auto;
                text-align: left;
            }

            .page-title {
                text-align: center;
            }

            body {
                background: #E6E6E6;
            }

            .main {
                background: #fff;
                width: 1000px;
                margin: 0 auto;
                overflow: hidden;
                padding: 10px;
            }

            .form_button {
                float: right;
            }
        </style>

        <script type="text/javascript" src='{% static "js/jquery-1.11.1.min.js" %}'></script>
        <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    {% endblock %}
</div>



