{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block title %}
    我的收藏
{% endblock %}
{% load staticfiles %}
{#在{% block main %}的这个标签外面加一层<div class="main"></div>然后修改.main的css样式即可#}
<div class="main">
    {% block main %}
        <ul class="question-list-group">
            <h1 style="text-align: center">我收藏的博客</h1>
            {% for article in articles %}
                <li>
                    <div class="question-group">
                        <p class="question-title">
                            <a href="{% url 'article:article_detail' article.id %}">{{ article.title }}</a>
                        </p>
                        <p class="question-content">{{ article.content }}</p>
                        <div class="question-info">
                            <span class="question-time">创作时间：{{ article.created }}</span>
                        </div>
                    </div>
                </li>
            {% empty %}
                <div class="question-group">
                    您没有收藏的博客！
                </div>
                <br>
            {% endfor %}
            <h1 style="text-align: center">我收藏的问答</h1>
            {% for question in questions %}
                <li>
                    <div class="question-group">
                        <p class="question-title">
                            <a href="{% url 'question:question_detail' question.id %}">{{ question.title }}</a>
                        </p>
                        <p class="question-content">{{ question.content }}</p>
                        <div class="question-info">
                            <span class="question-author">
                                提问者:<a
                                    href="{% url 'users:others_info' question.author.id %}">{{ question.author.username }} </a>
                            </span>
                            <span>赏金：{{ question.integral }}积分</span>
                            <span class="question-time">提问时间:{{ question.created }}</span>
                        </div>
                    </div>
                </li>
            {% empty %}
                <div class="question-group">
                    您没有收藏的问答！
                </div>
                <br>
            {% endfor %}
        </ul>

        <style>
            ul {
                list-style: none;
                padding-left: 0;
            }

            ul li {
                border-bottom: 1px solid #eee;
                overflow: hidden;
                /*padding: 15px 0;*/
            }

            .main {
                background: #fff;
                width: 750px;
                margin: 0 auto;
                overflow: hidden;
                padding: 10px;
            }

            .question-group {
                float: left;
                width: 660px;
                margin-left: 10px;
            }

            .question-title a {
                color: #259;
                font-weight: 900;
            }

            .question-info {
                text-align: right;
            }

            .question-author {
                margin-right: 20px;
            }
        </style>

    {% endblock %}
</div>